* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://img.freepik.com/vector-gratis/fondo-vector-degradado-rojo-calido_53876-105766.jpg');
    background-size: cover;
}
canvas {
    background: url('https://img.freepik.com/vector-gratis/fondo-degradado-oscuro-espacio-copia_53876-99548.jpg');
    border: 2px solid black;
}
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}
